<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cc8d7329-46f0-4ab0-ab07-bf7311bdaf18/resourceGroups/Blockchain-dev-rg/providers/Microsoft.Web/sites/Blockchain-dev-as</ResourceId>
    <ResourceGroup>Blockchain-dev-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://blockchain-dev-as.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>blockchain-dev-as.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Blockchain-dev-as</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Blockchain-dev-as</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BlockchainLocalConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=chain.database.windows.net;Initial Catalog=Blockchain;User ID=shwan;Password=Aw3eFt6yJi9" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=chain.database.windows.net;Initial Catalog=Blockchain;Integrated Security=False;User ID=shwan;Password=Aw3eFt6yJi9;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlockchainLocalConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=chain.database.windows.net;Initial Catalog=Blockchain;Integrated Security=False;User ID=shwan;Password=Aw3eFt6yJi9;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BlockchainLocalConnection-Web.config Connection String">
      <ParameterValue>Data Source=chain.database.windows.net;Initial Catalog=Blockchain;User ID=shwan;Password=Aw3eFt6yJi9</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>